@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  background-color:  white;
  color: #334155;
  padding-top: 5em;
}

